extends layout

block content
  h1 Welcome
  if user
    h3 You are logged in as: #{user.username}
    span#emoji &#128527;
    if user.isAdmin == 'yes'
      h3 You are an Admin!
  else
    h3 Please login to play
    span#emoji &#128528;