doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Time 4 Trivia
    nav
      a(class='navLink', href='/') Home
      if user
        if user.isAdmin == 'yes'
          a(class='navLink', href='/a/users/user') Users
          a(class='navLink', href='/a/verifyQuestions') Questions to verify
        a(class='navLink', href='/g/play') Play
        a(class='navLink', href='/g/create') Create Questions
        a(class='navLink', href='/g/leaderboard') Leaderboard
        a(class='navLink', href='/u/profile') Profile
        a(class='navLink', href='/u/logout') Logout #{user.username}   
      else
        a(class='navLink', href='/u/login') Login
    block content